/* h1 {
text-align: center;

}

.forms{
  text-align: center;
} */

.input{
  height: 500px;
  width: auto;
}

.box{

  text-align-last: center;
  border-radius: 8px;
  width: 150px;
  height: 250px;
}

.delbnt{
  background-color: red;
  color: white;
}
